---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Vision from '../components/Vision.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Hon. Antony Manyara - Youth Leader & Visionary">
  <Header />
  <main>
    <Hero />
    <About />
    <Vision />
    <Contact />
  </main>
  <Footer />
</Layout>
